/* estilos gerais */
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* Container do cabeçalho de navegação */
.navbar {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilizando a logotipo do menu */
.navbar-brand img {
  width: 150px;
  height: auto;
}

/* Estilizando os links dos itens do menu */
.navbar-nav li a {
  list-style: none; /* Remover o marcador de lista padrão */
  margin-right: 20px; /* Espaçamento entre os itens */
  text-decoration: none;
  color: #ff4321;
  border-radius: 20px;
  padding: 6px 15px;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 67, 33, 0);
}

/* Estilizando o hover nos links dos itens do menu */
.navbar-nav li a:not(.active):hover {
  background-color: #ffffff;
  color: rgba(255, 67, 33, 0.5);
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.35) 0 1px 2px, rgba(255, 67, 33, 0.35) 0 2px 4px,
  rgba(255, 67, 33, 0.35) 0 4px 8px, rgba(255, 67, 33, 0.35) 0 8px 16px,
  rgba(255, 67, 33, 0.35) 0 16px 32px;
  transform: scale(1.05) translateY(-5px);
}

/* Cor da guia ativa */
.navbar .navbar-nav li a.active {
  background-color: #ffffff;
  color: #ff4321;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.35) 0 1px 2px, rgba(255, 67, 33, 0.35) 0 2px 4px,
  rgba(255, 67, 33, 0.35) 0 4px 8px, rgba(255, 67, 33, 0.35) 0 8px 16px,
  rgba(255, 67, 33, 0.35) 0 16px 32px;
}

/* Botão */
.btn-primary {
  /*background-color: rgba(255, 67, 33, 0.4);*/
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.25) 0 1px 2px, rgba(255, 67, 33, 0.25) 0 2px 4px,
  rgba(255, 67, 33, 0.25) 0 4px 8px, rgba(255, 67, 33, 0.25) 0 8px 16px,
  rgba(255, 67, 33, 0.25) 0 16px 32px;
  color: #ff4321;
  /*color: #721100;*/
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s ease;
}

/*Hover do botão*/
.btn-primary:hover {
  /*background-color: rgba(255, 67, 33, 0.5);*/ /* Cor para o fundo escuro*/
  background-color: #ffffff; /* Cor para o fundo claro */
  /*color: rgba(255, 67, 33, 0.5);*/
  color:#ff4321;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
 rgba(255, 67, 33, 0.35) 0 1px 2px, rgba(255, 67, 33, 0.35) 0 2px 4px,
 rgba(255, 67, 33, 0.35) 0 4px 8px, rgba(255, 67, 33, 0.35) 0 8px 16px,
 rgba(255, 67, 33, 0.35) 0 16px 32px;
  transform: scale(1.05) translateY(-5px);
}

/* Clique do botão */
.btn-primary.btn-primary:active {
  background-color: #ffffff;
  color: #ff4321;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* Foco do botão da hero */
.btn-primary:focus {
  outline: 0;
}

/* Estilo para a sessão dos cartões de destinos */
.custom-section {
  color: #ff4321;
  margin-left: 50px;
  margin-right: 50px;
}

/* Transparência dos cards de destino */
.card {
  /*background-color: rgba(255, 67, 33, 0.5);*/ /* Cor para o fundo escuro */
  background-color: rgba(255, 67, 33, 0.2); /* Cor para o fundo claro */
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 67, 33, 1);
}

/* Estilo do cabeçalho dos cards de destinos */
.card-header {
  font-size: large;
  font-weight: bold;
  color: #ff4321;
  margin: 15px;
  text-align: center;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
 rgba(255, 67, 33, 0.25) 0 1px 2px, rgba(255, 67, 33, 0.25) 0 2px 4px,
 rgba(255, 67, 33, 0.25) 0 4px 8px, rgba(255, 67, 33, 0.25) 0 8px 16px,
 rgba(255, 67, 33, 0.25) 0 16px 32px;
}

/* Estilo dos textos dos cards de destinos */
.card-header,
.card-text {
  /*color: #ffffff;*/ /* Cor para o fundo escuro */
  color: #721100; /* Cor para o fundo claro */
  font-weight: bold;
}

/* Estilo para o container de imagem */
.img-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* Estilo para a imagem dos cartões */
.card-img-top {
  border-radius: 20px;
  border: 2px solid;
  border-color: #ff4321;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.25) 0 1px 2px, rgba(255, 67, 33, 0.25) 0 2px 4px,
  rgba(255, 67, 33, 0.25) 0 4px 8px, rgba(255, 67, 33, 0.25) 0 8px 16px,
  rgba(255, 67, 33, 0.25) 0 16px 32px;
}

/* Estilo dos ícones */
.mt-1 {  
  margin: 15px;
  padding: 1px;
  text-align: center;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.25) 0 1px 2px, rgba(255, 67, 33, 0.25) 0 2px 4px,
  rgba(255, 67, 33, 0.25) 0 4px 8px, rgba(255, 67, 33, 0.25) 0 8px 16px,
  rgba(255, 67, 33, 0.25) 0 16px 32px;
}

/* Estilo do rodapé (footer) */
footer {
  padding: 20px 0;
  font-size: large;
  /*color: #ffffff;*/ /* Cor para o fundo escuro*/
  color: #721100; /* Cor para o fundo claro*/
  text-align: center;
  box-shadow: rgba(255, 67, 33, 0.5) 0 -25px 18px -14px inset,
  rgba(255, 67, 33, 0.25) 0 1px 2px, rgba(255, 67, 33, 0.25) 0 2px 4px,
  rgba(255, 67, 33, 0.25) 0 4px 8px, rgba(255, 67, 33, 0.25) 0 8px 16px,
  rgba(255, 67, 33, 0.25) 0 16px 32px;
  backdrop-filter: blur(4.5px);
  background: rgba(255, 67, 33, 0.15);
}

footer .container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  /*color: #ffffff;*/ /* Cor para o fundo escuro*/
  color: #721100; /* Cor para o fundo claro*/
}